* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftScreen {
  flex: 1;
  background: url('bgimage1.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  margin-bottom: -10px;
}

.rightScreen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.welcome {
  color: rgb(181, 180, 189);
  padding: 20px;
}

.welcome h1 {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgb(255, 251, 251);
  margin: 0;
}

.form {
  flex: 1;
  padding: 20px;
}

.form h2 {
  font-size: 24px;
  margin-top: 2px; 

}

.formAdd {
  margin-bottom: 20px;
}

.formAdd label {
  display: block;
  margin-bottom: 5px;
}

.formAdd input,
.formAdd select {
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.genders {
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  margin-bottom: 10px;
}

.genders input[type="radio"] {
  margin-right: 10px;
  margin-left: 0; 
}

.agree {
  margin-bottom: 10px;
}

.agree label {
  margin-right: 10px;
}

.formButton {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.formButton button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.formButton button[type="reset"] {
  background-color: #dc3545;
}

.formButton button:hover {
  opacity: 0.9;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftScreen,
  .rightScreen {
    flex: none;
    width: 100%;
    padding: 10px;
  }

  .form {
    padding: 10px;
  }

  .formAdd input,
  .formAdd select {
    width: calc(100% - 20px); 
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}


#userDataDiv {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#userDataDiv table {
  margin-top: 20px; 
}
